body {
  display: flex;
  flex-direction: column;
  background-color: rgb(18, 179, 163);
  background-image: linear-gradient(
    180deg rgb(46, 147, 137),
    rgb(29, 185, 169)
  );
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0;
  margin: 0;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5rem;
}

.player-container {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
}

.button-container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.player,
.button {
  flex: 0 0 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  height: 2.5rem;
  background: linear-gradient(
    rgba(240, 248, 255, 0.333),
    rgba(240, 246, 255, 0.37)
  );
  box-shadow: 2px 2px 1.5px rgba(0, 0, 0, 0.441);
  border-radius: 15px;
  margin-top: 1vh;
}

.player-name {
  margin: 0;
}

#continue,
#shuffle {
  cursor: pointer;
}

#continue:active,
#shuffle:active {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.441);
  /* border: 1px solid black; */
}

.player-active {
  background-color: rgba(211, 135, 5, 0.975);
  transition: all 0.75s;
}

.counter,
#name0,
#name1 {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  /* display: flex; */
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  margin: 2rem, 1rem;
  padding: 3vh;
  gap: 2rem;
  /* width: 90vw; */
  max-width: 72em;
  height: auto;
  background-color: rgba(240, 248, 255, 0.333);
  box-shadow: 2px 2px 1.5px rgba(0, 0, 0, 0.441);
  border-radius: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.memorycard {
  position: relative;
  background-color: transparent;
  height: 6vw;
  width: 6vw;
  perspective: 800px;
  cursor: grab;
  /* border: 1px solid black; */
  /* overflow: hidden; */
}

.memorycard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  box-shadow: 2px 2px 2.5px rgba(0, 0, 0, 0.441);
}

.click .memorycard-inner {
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 2px 2px 2.5px rgba(0, 0, 0, 0.441);
}

.memorycard-front,
.memorycard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* box-shadow: 2px 2px 2.5px rgba(0, 0, 0, 0.441); */
}

.memorycard-back {
  transform: rotateY(180deg);
  box-shadow: 2px 2px 2.5px rgba(0, 0, 0, 0.441);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.frontpic,
.memopic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  background-color: rgba(20, 93, 157, 0.738);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(2px);
  z-index: 3;
}

.fileinput {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  height: 40vh;
  width: 40rem;
  background-color: aliceblue;
  border-radius: 2rem;
  box-shadow: 2px 2px 2.5px rgba(0, 0, 0, 0.441);
}

.instruction {
  margin-top: 0;
}

#input {
  cursor: pointer;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}
